.indicator {
    margin: 8pt;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 100%;
    height: 2vh;
    width: 2vh;
    transition: background-color .4s ease;
}
.active {
    background-color: orange;
}
.container {
    position: fixed;
    z-index: 1;
}
.right {right: 0}
.left {left: 0}
.top {top: 0}
.bottom {bottom: 0}
.center {top: 45vh}